name: Build gen_snapshot with Docker

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Build Docker Image
      run: docker build -t gen_snapshot_builder -f Dockerfile.gen_snapshot .

    - name: Extract gen_snapshot
      run: |
        docker create --name tmp gen_snapshot_builder
        mkdir artifact
        docker cp tmp:/flutter/src/out/host_release/gen_snapshot artifact/gen_snapshot_arm64
        docker rm tmp

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: gen_snapshot-arm64
        path: artifact/gen_snapshot_arm64
